.PostsPagination {
  .PostsPagination-previous {
    float: left;
  }

  .PostsPagination-next {
    float: right;
  }

  a {
    color: $blue;
    font-size: 2em;
    @include transition(all .3s);
    &:hover {
      text-decoration: none;
      @include transform(rotate(360deg));
    }
  }
}
