$pre-background-color: #ccc;
$link-color: $blue;
$button-background-color: $blue;

@import 'basscss/scss/_base-reset.scss';
@import 'basscss/scss/_base-typography.scss';
@import 'basscss/scss/_color-base.scss';
@import 'basscss/scss/_utility-white-space.scss';
@import 'basscss/scss/_grid.scss';
@import 'basscss/scss/_utility-layout.scss';
