// http://colorschemedesigner.com/csd-3.5/#3i40SghEqw0w0
$blue: #5AB5B7;
$green: #87E36F;
$red: #F87A88;
$orange: #FFB87D;
$gray: #B4B5B4;

$blue-dark: #1D7777;
$green-dark: #3B9324;
$red-dark: #A12836;
$orange-dark: #A66129;
$gray-dark: #666;

$blue-light: #9EDBDB;
$green-light: #BBF1AD;
$red-light: #FBB5BD;
$orange-light: #FFD8B8;
$gray-light: #CCC;
